
Small Project/__pycache__/Utils.cpython-39.pyc
Week 8/2202000_Week8.zip
Week 8/__pycache__/coco_eval.cpython-39.pyc
Week 8/__pycache__/coco_utils.cpython-39.pyc
Week 8/__pycache__/Task1.cpython-39.pyc
Week 8/data.yaml
Week 8/yolov8x.pt
.DS_Store
Small Project/__pycache__/Task1.cpython-310.pyc
Small Project/__pycache__/Utils.cpython-310.pyc
*.pyc
Week 8/yolov8m.pt
